@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><b>Movies</b></h2>

@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody>

            @foreach (var movie in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(movie.Name, "Details", new {id = movie.Id})
                    </td>
                    <td>@movie.Genre.Name</td>
                </tr>
            }

        </tbody>
    </table>
}
else
{
    <h2>Sorry, no movie yet to rent!</h2>
}