
@model Vidly.Models.Customer

@{
ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@Model.Name</h1>


    <ul>
    @if (!string.IsNullOrEmpty(Model.MembershipType.Name))
    {
        <li>
            
                Membership Type: @Model.MembershipType.Name
            
        </li>
    }

    @if (Model.BirthDate.HasValue)
    {
        <li>
           BirthDay: @Model.BirthDate.Value.ToShortDateString()
        </li>
    }

</ul>

