@using Vidly.Models
@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><b>Customers</b></h2>


 @if (Model.Customers.Count > 0)
 {
    <table class="table table-bordered">
        <thead>
            <tr><th>Customer</th></tr>
        </thead>
        <tbody>

            @foreach (var cst in Model.Customers)
            {
                <tr>
                    <td>
                        @Html.ActionLink(cst.Name, "Details", new { id = cst.Id })
                    </td>
                </tr>
            }

        </tbody>
    </table>
 }
 else
 {
    <h2>   We don't have any customers yet.</h2>



 }
   
    